.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.reviews__author-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
