.page__body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #283645;
}
.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 22px 20px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
}
.first-screen {
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #03025f;
  box-sizing: border-box;
}
.first-screen__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.first-screen__wrapper {
  background-image: url("../img/phone-in-hand.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  box-sizing: border-box;
}
.first-screen__phone-screen {
  background: url("../img/screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.users-photo__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.panorama__image {
  margin: 0;
}
.panorama__image-pic {
  width: 100%;
  vertical-align: middle;
}
.panorama__filling {
  background-color: #f2f2f2;
  width: 280px;
  padding: 26px 10px 26px 17px;
}
.panorama__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  padding: 13px 19px;
}
.panorama__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.panorama__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.panorama__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.heart__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
.photo__image {
  margin: 20px 20px;
}
.photo__image-pic {
  vertical-align: middle;
}
.photo__filling {
  background-color: #f2f2f2;
  width: 280px;
  padding: 26px 10px 26px 17px;
}
.photo__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  padding: 13px 19px;
}
.photo__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.photo__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.photo__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.upload__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.photo-editor {
  background-color: #f2f2f2;
  padding: 20px 20px 41px;
}
.photo-editor__button-send {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
}
.photo-editor__button-cancel {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  opacity: 0.1;
}
.form-container__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.form-container__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  padding: 23px 45px;
}
.form-container__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.form-container__legend-star {
  color: #d22856;
}
.registry__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.registry__item:nth-child(even) {
  background-color: #f2f2f2;
}
.registry__field-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.registry__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.achievement {
  border: none;
}
.achievement__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.achievement__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.achievement__item-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.feedback {
  border: none;
}
.feedback__field-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.application {
  border: none;
}
.application__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.application__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.application__item-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.comment {
  border: none;
}
.comment__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.comment__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.modal-error {
  margin: auto;
  padding: 44px 20px 52px;
  background-color: #ffffff;
}
.modal-error__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.modal-error__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.modal-error__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2aab6d;
  padding: 23px 124px;
  text-transform: uppercase;
}
.modal-success {
  margin: auto;
  padding: 44px 20px 52px;
  background-color: #ffffff;
}
.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.modal-success__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.modal-success__button-block {
  background-color: #f2f2f2;
}
.modal-success__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background-color: #2aab6d;
  padding: 23px 65px;
  text-transform: uppercase;
}
.download {
  background-color: #1d2631;
  color: #ffffff;
  padding: 28px 20px 38px;
}
.download__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.download__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}
.download__reach {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.advantages {
  background-color: #f2f2f2;
}
.advantages__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.advantages__item > .advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.effect__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.effect__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.effect__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}
.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.reviews__author-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.price {
  background-color: #f2f2f2;
}
.price__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.price__title:not(:first-child) {
  background-color: #283645;
}
.price__hit {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}
.price__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.price__option {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.contacts__find {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.main-footer {
  background-color: #ffffff;
}
.address {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}
.call {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}
.email {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}
.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
/*# sourceMappingURL=style.css.map */
