.registry__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.registry__item:nth-child(even) {
  background-color: #f2f2f2;
}

.registry__field-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.registry__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
