.panorama__image {
  margin: 0;
}

.panorama__image-pic {
  width: 100%;
  vertical-align: middle;
}

.panorama__filling {
  background-color: #f2f2f2;
  width: 280px;
  padding: 26px 10px 26px 17px;
}

.panorama__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  padding: 13px 19px;
}

.panorama__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.panorama__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.panorama__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.heart__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
