.photo__image {
  margin: 20px 20px;
}

.photo__image-pic {
  vertical-align: middle;
}

.photo__filling {
  background-color: #f2f2f2;
  width: 280px;
  padding: 26px 10px 26px 17px;
}

.photo__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  padding: 13px 19px;
}

.photo__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.photo__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
